body {
    background-color: #250200;
    font-family: sans-serif;
    
}

a {
    padding-left: auto;    
}

.header{
    font-size: 20px;
}

h1{
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
}
h1, h2, p, a{
    color:whitesmoke
}


/*rainbow text for title*/

#shadowBox {
    background-color: rgb(255, 255, 255);
    /* Fallback color */
    border: 3px solid;
  }
  
  .toptext {
    text-align: center;
    font-size: 32px;
    animation: colorRotate 6s linear 0s infinite;
  }
  
  @keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }

/* Header */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
 
li {
    border-right: 1px solid #bbb;
  }

  /* Colums */

  /* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }